<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
   <div class="caixa">
  <%  for (let produto of produtos) { %>
 <a href=>
 
  <div class="borda">
    <h2><%=produto.nome%></h2>
    <img src="/img/<%=produto.imagem%>" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p><%=produto.preço%></p>
    </div>
   <button>VER</button>
  </div>
</a>
</div>
<% }  %>


  

<footer>
  <h1>Valeu Meu Mano</h1>
</footer>
</body>
</html>