<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
  <h1><%= message %></h1>
 </header>
 <a href="produto">
<div class="caixa">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>
  
<a href="produto">
    <div class="borda">
      <img src="/img/bola.png" alt="Uma bola macia e confortavel">
      <div class="borda" >
        <p>Uma bola macia e confortavel</p>
      </div>
     <button>VER</button>
    </div>
  </a>

  
  <a href="produto">
    <div class="borda">
      <img src="/img/bola.png" alt="Uma bola macia e confortavel">
      <div class="borda" >
        <p>Uma bola macia e confortavel</p>
      </div>
     <button>VER</button>
    </div>
  </a>

  
  <a href="produto">
    <div class="borda">
      <img src="/img/bola.png" alt="Uma bola macia e confortavel">
      <div class="borda" >
        <p>Uma bola macia e confortavel</p>
      </div>
     <button>VER</button>
    </div>
  </a>
</div>

<!--Caixa 2-->
<a href="produto">
<div class="caixa">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>
  
<a href="produto">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>


  
<a href="produto">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>


<a href="produto">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>

  </div>
<!--Caixa 3-->
<a href="produto">
  <div class="caixa">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>
  
<a href="produto">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>


  
<a href="produto">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>


  
<a href="produto">
  <div class="borda">
    <img src="/img/bola.png" alt="Uma bola macia e confortavel">
    <div class="borda" >
      <p>Uma bola macia e confortavel</p>
    </div>
   <button>VER</button>
  </div>
</a>

</div>

  

<footer>
  <h1>Valeu Meu Mano</h1>
</footer>
</body>
</html>