<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <%  for (let produto of produtos) { %>
   <div class="caixa">
  
 
    <a href="/produto/<%=produto.id %>">
  <div class="borda">
  
    <h2><%=produto.nome%></h2>
    <img src="/img/<%=produto.imagem%>" alt="Uma bola macia e confortavel">
    
      <p><%=produto.preço%></p>

   <button>VER</button>
  </div>
</a>


</div>
<% }  %>
  

<footer>
  <h1>Valeu Meu Mano</h1>
</footer>
</body>
</html>