<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/produto.css">
  <title>Document</title>
</head>
<body>

  <header>
    <h1>Lojinha</h1>
   </header>
   <div class="caixa">
   
    <h2><%=produto.nome%></h2>
    <img src="/img/<%= produto.imagem %>" alt="Uma bola macia e confortavel">
   
      <p><%=produto.preço%></p>
    
     <button>VER</button>
    </div>
 
</body>
</html>